@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 223 100% 95%;
    --foreground: 225 30% 20%;
    --card: 223 100% 98%;
    --card-foreground: 225 30% 20%;
    --popover: 223 100% 98%;
    --popover-foreground: 225 30% 20%;
    --primary: 225 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 100% 90%;
    --secondary-foreground: 225 30% 20%;
    --muted: 223 100% 90%;
    --muted-foreground: 225 20% 45%;
    --accent: 256 100% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 80% 88%;
    --input: 223 80% 90%;
    --ring: 225 100% 58%;
    --chart-1: 225 100% 58%;
    --chart-2: 256 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 226 50% 18%;
    --sidebar-foreground: 223 20% 85%;
    --sidebar-primary: 225 100% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 226 40% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 226 40% 25%;
    --sidebar-ring: 225 100% 58%;
  }
  .dark {
    --background: 225 20% 10%;
    --foreground: 223 100% 95%;
    --card: 225 20% 12%;
    --card-foreground: 223 100% 95%;
    --popover: 225 20% 12%;
    --popover-foreground: 223 100% 95%;
    --primary: 225 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 20% 20%;
    --secondary-foreground: 223 100% 95%;
    --muted: 225 20% 20%;
    --muted-foreground: 223 20% 65%;
    --accent: 256 100% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 25%;
    --input: 225 20% 25%;
    --ring: 225 100% 58%;
    --chart-1: 225 100% 58%;
    --chart-2: 256 100% 64%;
    --sidebar-background: 225 20% 10%;
    --sidebar-foreground: 223 20% 85%;
    --sidebar-primary: 225 100% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 20% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 225 20% 25%;
    --sidebar-ring: 225 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
